page-login {
 font-family:Tahoma,Helvetica,sans-serif;
  .login-content {
    background: #56CA96;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 10px;
    }
 
    .login-box {
      background: #399F8B;
      padding: 5px 10px 0px 10px;
      margin-top: 10px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 20px !important;
         font-size: 0.8em;  
         margin-bottom: 8px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 10px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       font-size: 1em;
       border: 1px solid #ffffff;
       padding: 0px 64px;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
       border: 0px;
     }
  }
 
}