page-home {
    .content{
        .rSlide{
            font-size: 2em;
        }

        ion-avatar{
            width: 20px !important;  
            height : 20px !important;
            zoom: 3.0;
        }

        button{
            width: 75px;
        }
    }
}
